Col {
  margin: 2em
}

.symptoms-list {
  list-style-type: none;
}

.symptoms-img {
  width: 2em
}

.symptoms-common {
  background-color: #cceeff;
  margin: 1.5em
}

.symptoms-uncommon {
  background-color: #e6b3ff
}

.symptoms-risk {
  background-color: #ffad99;
  margin: 1.5em
}

.symptoms-warning {
  margin: 0 auto
}

